@page "/"
@using SBMirror.Components.Modules
@using SBMirror.Models
@rendermode InteractiveServer

<div class="region fullscreen below"><div class="container"><ComponentChecker region="fullscreen below" /></div></div>
<div class="region top bar">
	<div class="container"></div>
	<div class="region top left"><div class="container"><ComponentChecker region="top left"/></div></div>
	<div class="region top center"><div class="container"><ComponentChecker region="top center" /></div></div>
	<div class="region top right"><div class="container"><ComponentChecker region="top right" /></div></div>
</div>
<div class="region upper third"><div class="container"><ComponentChecker region="upper third" /></div></div>
<div class="region middle center"><div class="container"><ComponentChecker region="middle center" /></div></div>
<div class="region lower third">
	<div class="container"><ComponentChecker region="lower third" /><br /></div>
</div>
<div class="region bottom bar">
	<div class="container"><ComponentChecker region="bottom bar" /></div>
	<div class="region bottom left"><div class="container"><ComponentChecker region="bottom left" /></div></div>
	<div class="region bottom center"><div class="container"><ComponentChecker region="bottom center" /></div></div>
	<div class="region bottom right"><div class="container"><ComponentChecker region="bottom right" /></div></div>
</div>
<div class="region fullscreen above"><div class="container"><ComponentChecker region="fullscreen above" /></div></div>

@code {

}
