@page "/"

<PageTitle>Home</PageTitle>
<table width="100%" height="100%">
	<tr>
		<td width="33%" align="left">
		</td>
		<td width="33%" align="center">
			<Countdown></Countdown>
		</td>
		<td width="33%" align="right">
			<CurrentWeather></CurrentWeather>
		</td>
	</tr>
	<tr>
		<td width="33%" align="left">
		</td>
		<td width="33%" align="center">
		</td>
		<td width="33%" align="right">
		</td>
	</tr>
	<tr>
		<td width="33%" align="left">
		</td>
		<td width="33%" align="center">
		</td>
		<td width="33%" align="right">
		</td>
	</tr>
</table>


